extends layout

block content
  h1= title
  p= "Post anything. Just don't be mean."
  ul
  each msg in messages
    li= `${msg.user} | ${msg.text} | ${msg.added}`

  form(action="/" method="POST")
      p
          label(for="user") User:
          input(type="text" name="user" id="user" placeholder="Enter a username" required)
      p
          label(for="message") Message:
          input(type="text" name="message" id="message" placeholder="Enter your message" required)
      p
          input(type="submit" value="Send")
