extends layout

block content
  div.content
    h1= "Join a Wall"
    a(href="/walls/new-wall") Create a New Wall
    p= "Click on a wall to begin posting"

    div#wall-box
      each wall in walls
        div.wall-card
          div.wall-content
              a(href=`/walls/${wall.id}`)= `${wall.name}`
              p Description:
              p #{wall.description}