extends layout

block content
  div.content
    a(href="/walls") Back to the Walls
    h1= name
    h3= description
    
    div#msg-box
      ul
        each msg in messages.reverse()
          div.msg-div= `${msg.user} | ${msg.text} | ${msg.added}`

    form(action="" method="POST")
      div#form-div
        p
            input(type="text" name="user" id="user" autocomplete="off" placeholder="Enter a name" value="Anonymous" data-value="-1" required)
        p
            input(type="text" name="message" id="message" autocomplete="off" placeholder="Enter your message" required)
        p
            input(type="submit" value="Post")
        
