extends layout

block content
  div.content
    div.nav-button
      a(href="/walls") Back to the Walls

    h1= name
    h3= description
    
    div#msg-box
      ul
        each msg in messages.reverse()
          div.msg-wrapper
            div.msg-header
              p #{msg.user} 
              p #{msg.added} 
            div.msg-content
              p #{msg.text} 

    form(action="" method="POST")
      div#form-div
        p
            input(type="text" name="user" id="user" autocomplete="off" placeholder="Enter a name" value="Anonymous" data-value="-1" required)
        p
            input(type="text" name="message" id="message" autocomplete="off" placeholder="Enter your message" maxlength=140 required)
        p
            input(type="submit" value="Post")
        
