extends layout

block content
  div#join-wall-header
    h1= "Join a Wall"
    div.nav-button
      a(href="/walls/new-wall") Create a New Wall
    p= "Click on a wall to begin posting"

  div#wall-box
    each wall in walls
      a(href=`/walls/${wall.id}`)
        div.wall-card
          div.wall-content
              div.pin
              h2 #{wall.name}
              p #{wall.description}